body {
  background-color: #282c34;
  margin: 20px;
}

.app {
  text-align: center;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  padding: 8px;
  border-radius: 5px;
  background-color: #dbedff;
  border-width: 0;
  color: #000;
  cursor: pointer;
}

button.disabled {
  color: #a7a7a7;
  cursor: not-allowed;
}

.box {
  padding: 5px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d5f9ff;
}

.box-element-label {
  color: #61dafb;
}

.box-element-value {
  margin-left: 5px;
}

.error-message {
  color: rgb(226, 123, 123);
  font-size: 13px;
}
